
<div class="contact-us">
  <h3>Contact us</h3>
  <p class="contact-description">{{ content.group_contact_us.field_contact_paragraph }}</p>
  <div class="contact-info">
    <div class="contact-email">
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="/themes/custom/gsa_beta/assets/img/sprite.svg#mail"></use>
      </svg>
      <a href="mailto:{{ content.group_contact_us.field_contact_email.0['#title'] }}">{{ content.group_contact_us.field_contact_email.0['#title'] }}</a>
    </div>
    <div class="contact-phone">
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="/themes/custom/gsa_beta/assets/img/sprite.svg#phone"></use>
      </svg>
      <a href="tel:{{ content.group_contact_us.field_telephone.0['#title'] }}">{{ content.group_contact_us.field_telephone.0['#title'] }}</a>
    </div>
  </div>
</div>
